@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mynerve&display=swap");
@import "tailwindcss";

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-shine {
    animation: shine 2s linear infinite;
    background-size: 200% auto;
}
